

.welcome-container {
  min-height: 80vh;
  // Utility classes used in HTML: column-stack-none items-center justify-center
  // Padding handled by utility classes or can use pad-all-lg
  text-align: center;
}

.icon-container {
  margin-bottom: var(--x8, 32px);
}


.welcome-title {
  font-size: var(--font-size-xxl, 32px);
  font-weight: var(--font-weight-bold, 700);
  color: var(--ion-text-color);
  margin: var(--x0, 0) var(--x0, 0) var(--x2, 8px) var(--x0, 0);
}

.welcome-subtitle {
  font-size: var(--font-size-md, 16px);
  color: var(--text-color-600);
  margin: var(--x0, 0) var(--x0, 0) var(--x12, 48px) var(--x0, 0);
}

.dark {

  .welcome-title {
    color: var(--ion-text-color);
  }
  
  .welcome-subtitle {
    color: var(--text-color-600);
  }
}


.signup-button {
  margin-bottom: var(--gap-md, var(--x4, 16px));
  --border-color: var(--ion-color-primary);
  --color: var(--ion-color-primary);
  --border-width: 1px;
  --border-style: solid;
  --border-radius: var(--radius-md, 8px);
  height: var(--x12, 48px);
  font-weight: var(--font-weight-medium, 500);
}

.login-button {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
  --border-radius: var(--radius-md, 8px);
  height: var(--x12, 48px);
  font-weight: var(--font-weight-medium, 500);
}

.or-separator {
  position: relative;
  margin: var(--gap-md, var(--x4, 16px)) var(--x0, 0);
  text-align: center;
  
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: var(--x0, 0);
    right: var(--x0, 0);
    height: 1px;
    background-color: var(--border-color);
    z-index: 0;
  }
  
  span {
    position: relative;
    display: inline-block;
    background-color: var(--ion-background-color);
    padding: var(--x0, 0) var(--x3, 12px);
    color: var(--ion-text-color);
    font-size: var(--font-size-sm, 14px);
    z-index: 1;
  }
}

.dark {
  .or-separator {
    &::before {
      background-color: var(--border-color-dark);
    }
    
    span {
      background-color: var(--ion-background-color);
      color: var(--ion-text-color);
    }
  }
}

