// Header styles
ion-header {
  --background: var(--ion-background-color);
  
  ion-toolbar {
    --background: var(--ion-background-color);
    --color: var(--ion-text-color);
    
    ion-title {
      color: var(--ion-text-color);
    }
  }
}

.dark {
  ion-header {
    --background: var(--ion-background-color);
    
    ion-toolbar {
      --background: var(--ion-background-color);
      --color: var(--ion-text-color);
      
      ion-title {
        color: var(--ion-text-color);
      }
    }
  }
}




