<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">Name your outfit</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()" fill="clear" class="body1-regular">
        Cancel
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <div class="naming-modal-container pad-all-md">
    <ion-list>
      <!-- Suggested Names -->
      <ion-item 
        *ngFor="let name of suggestedNames" 
        button
        (click)="selectName(name)"
        lines="none" 
        class="name-option-item"
      >
        <span slot="start" class="icon-slot">
          <app-icon 
            *ngIf="selectedName === name && !isCustomName"
            name="checkmark-circle" 
            [size]="24" 
            [color]="'var(--ion-color-primary)'"
          ></app-icon>
        </span>
        <ion-label>
          <span class="body1-regular">{{ name }}</span>
        </ion-label>
      </ion-item>

      <!-- Custom Name Option -->
      <ion-item 
        button
        (click)="toggleCustomName()"
        lines="none" 
        class="name-option-item"
      >
        <span slot="start" class="icon-slot">
          <app-icon 
            *ngIf="isCustomName"
            name="checkmark-circle" 
            [size]="24" 
            [color]="'var(--ion-color-primary)'"
          ></app-icon>
        </span>
        <ion-label>
          <span class="body1-regular">Custom name</span>
        </ion-label>
      </ion-item>
    </ion-list>

    <!-- Custom Name Input -->
    <div *ngIf="isCustomName" class="custom-name-input-container pad-all-md">
      <ion-item class="name-input-item">
        <ion-input
          [(ngModel)]="customName"
          placeholder="Enter outfit name"
          class="outfit-name-input"
          (ionBlur)="onCustomNameBlur()"
          (keyup.enter)="onCustomNameEnter()"
          #customNameInput
        ></ion-input>
      </ion-item>
    </div>
  </div>
</ion-content>

