:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.material-symbols-rounded {
  font-family: 'Material Symbols Rounded';
  font-weight: 400;
  font-style: normal;
  font-size: var(--font-size-xl, 24px);
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  user-select: none;
  
  // Default Material Symbols settings (Rounded, 24px, weight 400, fill 0)
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.spark-icon {
  display: inline-block;
}
