// Header styles using design tokens
ion-header {
  --background: var(--ion-background-color);
  
  ion-toolbar {
    --background: var(--ion-background-color);
    --color: var(--ion-text-color);
    --min-height: var(--x14, 56px);
    --padding-start: var(--x2, 8px);
    
    ion-title {
      font-weight: var(--font-weight-medium, 500);
      font-size: var(--font-size-md, 16px);
      line-height: 1.2;
      color: var(--ion-text-color);
    }
    
    ion-buttons {
      height: 100%;
      min-height: var(--x14, 56px);
      
      .back-button {
        --color: var(--ion-color-primary);
        --background: transparent;
        height: 100%;
        min-height: var(--x14, 56px);
      }
    }
  }
}

.dark {
  ion-header {
    --background: var(--ion-background-color);
    
    ion-toolbar {
      --background: var(--ion-background-color);
      --color: var(--ion-text-color);
      
      ion-title {
        color: var(--ion-text-color);
      }
    }
  }
}

.signup-content {
  --background: var(--ion-background-color);
}

// Signup container - using global classes in HTML
.signup-container {
  padding: var(--x6, 24px) var(--x0, 0) var(--x6, 24px) var(--x6, 24px);
  max-width: 500px;
  margin: var(--x0, 0) auto;
}

// Signup form - using global classes in HTML

.form-item {
  --padding-start: var(--x0, 0);
  --padding-end: var(--x0, 0);
  --padding-top: var(--x0, 0);
  --padding-bottom: var(--x0, 0);
  --inner-padding-start: var(--x0, 0);
  --inner-padding-end: var(--x0, 0);
  --inner-padding-top: var(--x0, 0);
  --inner-padding-bottom: var(--x0, 0);
 


  
  // Hide default detail icon using CSS variables and direct selectors
  &::part(native) {
    --detail-icon-opacity: var(--x0, 0);
  }
  
  ion-icon[part="detail-icon"],
  ion-icon.item-detail-icon {
    display: none !important;
    opacity: var(--x0, 0) !important;
  }
  
  // Gender field specific styling
  .row-stack-sm {
    width: 100%;
    padding-right: 0;
    margin-right: 0;
  }
  
  .gender-chevron {
    flex-shrink: 0;
    margin-left: auto;
    margin-right: 0;
  }
  
  ion-input {
    --padding-end: var(--x0, 0);
    
    // Prevent iOS zoom on input focus by ensuring font-size is at least 16px
    // iOS Safari automatically zooms in when input font-size is less than 16px
    font-size: 16px !important;
    
    // Target the native input element inside ion-input shadow DOM
    &::part(native) {
      font-size: 16px !important;
    }
    
    // Direct input selector for maximum compatibility
    input {
      font-size: 16px !important;
    }
    
    // Use CSS custom property that Ionic supports
    --padding-start: 0;
    --padding-end: 0;
  }
  
  // Additional global fix for all inputs in signup form
  .signup-form {
    ion-input {
      input,
      textarea {
        font-size: 16px !important;
      }
    }
  }
  

  

}


.error-text {
  display: block;
  margin: var(--x2, 8px) 0;
  font-size: var(--font-size-sm, 14px);
}

.signup-button {
  margin-top: var(--x8, 32px);
  margin-left: var(--x0, 0);
  margin-right: var(--x6, 24px);
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
  --border-radius: var(--radius-md, 8px);
  height: var(--x12, 48px);
  font-weight: var(--font-weight-medium, 500);
}

.signup-button:disabled {
  opacity: 0.5;
}

