<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="wardrobe" [routerLink]="['/tabs/wardrobe']">
      <app-icon [name]="'wardrobe'" [size]="24"></app-icon>
      <ion-label>Wardrobe</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="outfits" [routerLink]="['/tabs/outfits']">
      <app-icon [name]="'accessibility'" [size]="24"></app-icon>
      <ion-label>Outfits</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile" [routerLink]="['/tabs/profile']">
      <app-icon [name]="'profile'" [size]="24"></app-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>




