:root {
  --ion-color-primary: #1860FA;
  --ion-color-primary-rgb: 78, 84, 200;
  --ion-color-primary-shade:#1860FA;
  --ion-color-primary-tint: #1860FA;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary: #ff6f61;
  --ion-color-secondary-rgb: 255, 111, 97;
  --ion-color-secondary-shade: #e16055;
  --ion-color-secondary-tint: #ff7f73;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
}

.dark {
  --ion-color-primary: #1860FA;
  --ion-color-secondary: #ff998a;
  --ion-background-color: #121212;
  --ion-text-color: #ffffff;
}
