// Password Edit Modal styles using only design tokens and global utilities

.modal-content {
  --overflow: visible;
}

:host {
  ion-content {
    --padding-bottom: var(--x6);
    overflow-y: auto;
  }
}

.modal-content-wrapper {
  padding-bottom: var(--x20);
}

.button-container {
  position: sticky;
  bottom: 0;
  background: var(--ion-background-color);
  padding: var(--x3) 0;
  
  .dark & {
    background: var(--ion-background-color);
  }
}


// Header styles
ion-header {
  --background: var(--ion-background-color);
  position: relative;
  
  // Add border-bottom that spans full width
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--border-color-light);
  }
  
  .email-header {
    --background: var(--ion-background-color);
    --color: var(--ion-text-color);
    --min-height: var(--x12);
    --padding-start: var(--padding-md);
    --padding-end: var(--padding-md);
    
    .email-label {
      font-size: var(--font-size-md);
      font-weight: var(--font-weight-regular);
      color: var(--text-color-600);
      text-align: left;
    }
    
    .email-value {
      font-size: var(--font-size-md);
      font-weight: var(--font-weight-regular);
      color: var(--ion-text-color);
      text-align: right;
    }
  }
  
  ion-toolbar:not(.email-header) {
    --background: var(--ion-background-color);
    --color: var(--ion-text-color);
    --min-height: var(--x14);
    --padding-start: var(--padding-md);
    --padding-end: var(--padding-md);
    
    ion-title {
      font-weight: var(--font-weight-bold);
      font-size: var(--font-size-lg);
      line-height: 1.2;
      color: var(--ion-text-color);
    }
    
    ion-buttons {
      ion-button {
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-regular);
      }
    }
  }
}

.dark {
  ion-header {
    --background: var(--ion-background-color);
    
    &::after {
      background-color: var(--ion-color-step-800);
    }
    
    .email-header {
      --background: var(--ion-background-color);
      --color: var(--ion-text-color);
      
      .email-label {
        color: var(--text-color-600);
      }
      
      .email-value {
        color: var(--ion-text-color);
      }
    }
    
    ion-toolbar:not(.email-header) {
      --background: var(--ion-background-color);
      --color: var(--ion-text-color);
      
      ion-title {
        color: var(--ion-text-color);
      }
    }
  }
}
