<ion-header class="ion-no-border">
 
  
  <!-- Password Header -->
  <ion-toolbar>
    <ion-title>Password</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()" fill="clear" class="body1-regular btn-text-primary">
        Cancel
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="modal-content">
  <div class="pad-top-lg pad-v-none-h-md modal-content-wrapper column-stack-md">
    <!-- Current Password -->
    <div class="column-stack-sm">
      <label class="label-default">Current password</label>
      <div class="input-border-full">
        <input
          type="password"
          [(ngModel)]="currentPassword"
          placeholder="Current password"
          enterkeyhint="next"
          required
        />
      </div>
    </div>

    <!-- New Password -->
    <div class="column-stack-sm">
      <label class="label-default">New password</label>
      <div class="input-border-full">
        <input
          type="password"
          [(ngModel)]="newPassword"
          placeholder="New password"
          enterkeyhint="next"
          required
        />
      </div>
    </div>

    <!-- Confirm Password -->
    <div class="column-stack-sm">
      <label class="label-default">Confirm new password</label>
      <div class="input-border-full">
        <input
          #confirmPasswordInput
          type="password"
          [(ngModel)]="confirmPassword"
          placeholder="Confirm new password"
          enterkeyhint="done"
          (keydown.enter)="confirmPasswordInput.blur(); dismissKeyboard()"
          (blur)="dismissKeyboard()"
          required
        />
      </div>
    </div>

    <!-- Save Button - Positioned at bottom -->
    <div class="button-container">
      <app-button
        variant="primary"
        size="xlarge"
        [fullWidth]="true"
        [disabled]="!currentPassword || !newPassword || !confirmPassword"
        (click)="save()"
      >
        Save
      </app-button>
    </div>
  </div>
</ion-content>

<ion-toast
  [isOpen]="isToastOpen"
  [message]="toastMessage"
  [duration]="toastDuration"
  position="bottom"
  (didDismiss)="onToastDidDismiss()"
></ion-toast>

