<ion-content [fullscreen]="true">
  <ion-header collapse="condense" >
    <ion-toolbar>
      <ion-title size="large">Wardrobe</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="pad-none-l-md">
    <!-- Success Message -->
    <div class="row-stack-sm items-center success-banner pad-all-md" *ngIf="showSuccessMessage">
      <app-icon name="checkmark-circle" [size]="24" [color]="'var(--text-primary)'"></app-icon>
      <span class="body1-medium">{{ successMessageText }}</span>
    </div>

    <!-- Skeleton Loading -->
    <ion-list *ngIf="isLoading" [class.pad-top-lg]="!showSuccessMessage" class="wardrobe-list">
      <ion-item
        *ngFor="let item of [1,2,3,4]"
        lines="full"
        class="wardrobe-item"
      >
        <ion-label>
          <app-skeleton-loader type="text" [width]="'120px'" [height]="'16px'" [borderRadius]="'4px'"></app-skeleton-loader>
        </ion-label>
        <div slot="end" class="row-stack-sm items-center">
          <app-skeleton-loader type="text" [width]="'20px'" [height]="'16px'" [borderRadius]="'4px'"></app-skeleton-loader>
        </div>
      </ion-item>
    </ion-list>

    <!-- Category List -->
    <ion-list *ngIf="!isLoading" [class.pad-top-lg]="!showSuccessMessage" class="wardrobe-list">
      <ion-item
        *ngFor="let category of categories"
        button
        (click)="goToCategory(category.route)"
        lines="full"
        class="wardrobe-item"
      >
        <ion-label>
          <span class="body2-bold">{{ category.name }}</span>
        </ion-label>
        <div slot="end" class="row-stack-sm items-center">
          <span class="body1-regular text-color-600">{{ category.count }}</span>
       
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
